/* When text is overflow */
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container {
  margin: var(--px-xl) auto;
  max-width: 60rem;
  border-radius: var(--px-s);
  text-align: center;
}

@media (max-width: 60rem) {
  .container {
    margin-inline: var(--px-xl);
  }
}

li {
  margin-top: var(--px-m);
  margin-bottom: var(--px-m);
  background-color: var(--clr-background);
  border-top-right-radius: var(--px-s);
  border-bottom-right-radius: var(--px-s);
  padding-left: var(--px-m);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Form */
input[type="submit"] {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-on-primary);
  border-radius: var(--px-xs);
  padding: var(--px-xs) var(--px-m);
  cursor: pointer;
  transition: 0.3s;
}
input[type="submit"]:focus,
input[type="submit"]:hover {
  box-shadow: 0 0 8px 0 var(--clr-primary);
}

input[type="text"] {
  padding: var(--px-xs) var(--px-m);
  border: 2px solid var(--clr-outline);
  border-radius: var(--px-xs);
  width: 100%;
  box-sizing: border-box;
  outline: none;
  transition: 0.3s;
}

input[type="text"]:focus {
  border: 2px solid var(--clr-primary);
  box-shadow: 0 0 8px 0 var(--clr-primary);
}

.input-group input[type="text"] {
  padding-left: var(--px-xl);
}

.input-group span {
  left: 0;
  padding: var(--px-xs);
  color: var(--clr-outline);
  transition: 0.3s;
}

.input-group input[type="text"]:focus + span {
  color: var(--clr-primary);
}

.menu-item:hover {
  padding: var(--px-s);
  background-color: var(--clr-primary-container);
  cursor: pointer;
}

.title {
  padding: var(--px-s) var(--px-m);
}

.line-through {
  text-decoration: line-through;
}

.btn {
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-on-primary);
  padding: var(--px-xs) var(--px-m);
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.btn:focus,
.btn:hover {
  box-shadow: 0 0 8px 0 var(--clr-primary);
}